body {
    font-family: Arial, sans-serif;
    
    background: size 0;
    background-position: left;
   
}
.head {
    background-color: #333;
    background-size: cover;
    background-position: center;
    color: #100e0e;
    padding: 1rem 0;
}

.header {
    background-color: #333;
    background-size: 10;
    background-position: left;
    padding: 1rem 0;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

section {
    padding: 80px 0;
    text-align: center;
}
section.signin {
    background-color: #db2e2e;
    color: #fff;
}

.container {
    width: 80%;
    margin: 0 auto;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
